<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      
      <%= f.label :email %>
      <%= f.email_field :email %>
    
      <%= f.label :manager %><br>
      <%= f.text_field :manager %>

      <%= f.label :years_with_company %><br>
      <%= f.number_field :years_with_company %>
  
      <%= f.label :position_id %><br>
      <%= f.collection_select :position_id, @position, :id, :name,
                              :prompt => "Your Position" %>

      <%= f.label :department_id %><br>
      <%= f.collection_select :department_id, @department, :id, :name,
                              :prompt => "Your Department" %>

      <%= f.label :group_id %><br>
      <%= f.collection_select :group_id, @group, :id, :name,
                              :prompt => "Your Group" %>

      <%= f.label :location_id %><br>
      <%= f.collection_select :location_id, @location, :id, :name,
                              :prompt => "Your Location" %>
  
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>